:root {
  --color-white-100: #FFF;

  --color-black-100: #000;

  --color-green-100: #149484;
  --color-green-200: #006c5f;

  --color-blue-100: #5dbbc9;
  --color-blue-200: #238599;
  --color-blue-300: #105a66;
}
